/* 웹폰트연결 */
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRunOTF-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #5d423b;}
body{font-family: 'NanumSquareRound'; font-size: 20px; line-height: 25px; color: #5d423b;}

/* 헤더 */
header{position: relative; width: 100%; height: 185px;}
.mainlogo{display: block; position: absolute; top: 10px; left: 50%; transform: translateX(-50%);}
#header_top{background-color: #f48473; height: 120px; font-family: 'CookieRun-Regular';}
.header_inner{width: 1320px; margin: auto;}
.sns{float: left; margin: 40px 0 0 60px;}
.sns img{opacity: 0.8;}
.sns a:hover img{opacity: 1;}
.login{float: right; margin: 20px 40px;}
.sns li, .login li{float: left;}
.login li{padding-left: 15px; font-size: 13px; color: #fcfcee;}
.login a{color: #fcfcee;}
.login a:hover{color: #5d423b;}
/* 메인메뉴목록 */
#mainmenu{background-color: #fcfcee; font-weight: bold; font-family: 'CookieRun-Regular';}
.menu_inner{width: 1320px; margin: auto; height: 65px; box-sizing: border-box; padding-left: 180px;}
.mainmenu>li{float: left; width: 150px; padding: 20px 0; margin-right: 130px; box-sizing: border-box; text-align: center;}
.mainmenu>li>a{color: #f48473;}
.mainmenu>li>a:hover{color: #f26b5e;}
/* 서브메뉴 */
#sub{ background-color: rgba(252, 252, 238, 0.8); position: absolute; width: 100%; left: 0; margin-top: 20px; display: none; z-index: 99;}
.sub_center{width: 1320px; margin: auto; padding: 20px 0; background: url(../images/subaki.png) no-repeat 20px center; }
.submenu{width: 1120px; padding-left: 20px; margin-left: 160px; border-left: 2px solid #f26b5e; height: 200px; box-sizing: border-box;}
.sub_center ul{width: 150px; float: left; margin-right: 130px;}
.sub_center ul:last-child{margin-right: 0;}
.sub_center li{font-size: 18px; font-weight: normal; vertical-align: middle; text-align: left; margin-top: 15px; box-sizing: border-box; position: relative;}
.sub_center a{display: block; color: #f26b5e; padding: 5px 0 5px 40px;}
/* 서브메뉴 아이콘이미지*/
.brandaki{background: url(../images/hover_aki.png) no-repeat 10px bottom;}
.ice{background: url(../images/hover_ice.png) no-repeat 10px bottom;}
.bar{background: url(../images/hover_icebar.png) no-repeat 10px bottom;}
.smoothie{background: url(../images/hover_smoothie.png) no-repeat 10px bottom;}
.offline{background: url(../images/hover_offline.png) no-repeat 0 bottom;}
.online{background: url(../images/hover_online.png) no-repeat 0 bottom;}
.store{background: url(../images/hover_store.png) no-repeat 10px bottom;}
/* 서브메뉴 호버보더*/
.border{width:150px;
  height: 2px;
  margin: auto;
  background: #eabd6c; 
  opacity: 0; 
  transform: scaleX(0);
  transform-origin: left; 
  transition-property: opacity, transform; 
  transition-duration: 1s;
  position: absolute; bottom: 0; left: 0;}
.submenu a:hover .border{opacity: 1; transform: scaleX(1);}

/* 아키소개 */
#mainbg{background: #ffffea;}
.center{width: 1320px; margin: auto; position: relative; height: 2000px; font-family: 'CookieRun-Regular'; text-align: center;}
.center img{display: block; position: absolute;}
.center h2{font-weight: 900; font-size: 72px; color: #f26b5e; line-height: 75px; font-family: 'CookieRunOTF-Bold'; transform: translate(620px, 150px); position: absolute; z-index: 5;}
.aki1{transform: translateY(260px);}
.circletext{position: absolute; left: 910px; top: 660px; animation: round 5s linear infinite;}
@keyframes round{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.eng{position: absolute; left: 50%; color: #f26b5e; font-family: 'CookieRun-Regular'; transform: translate(-50%, 1140px); font-size: 30px; line-height: 35px; z-index: 10;}
.center h1{font-family: 'CookieRunOTF-Bold'; color: #f26b5e; font-size: 85px; line-height: 98px; position: absolute; left: 50%; transform: translate(-50%, 1270px);}
.kor{font-weight: bold; position: absolute; left: 50%; transform: translate(-50%, 1546px); z-index: 10;}
.aki2{ right: 10px; transform: translateY(1080px);}
.aki3{left: 30px; transform: translateY(1390px);}
.aki4{right: 180px; transform: translateY(1600px);}

/* 메뉴소개 */
section{background: url(../images/menu_bg.jpg) no-repeat center fixed; width: 100%; height: 1511px; padding-top: 250px; box-sizing: border-box;}
.bgwhite{width: 100%; height: 700px; background-color: rgba(255, 255, 251, 0.6); margin: auto;}
.menu_center{width: 1320px; height: 700px; margin: auto; text-align: center; position: relative;}
.menu_center h1{font-family: 'CookieRunOTF-Bold'; font-size: 70px; color: #f26b5e; text-shadow: 4px 1px 0 #ffb0a8; padding: 50px 0 40px; line-height: 70px;}
.p1{line-height: 27px; font-weight: bold; color: #ff8074; padding-bottom: 60px;}
.menu_center li{float: left; width: 230px; height: 310px; border-radius: 90px 90px 10px 10px; background-color: #fffffb; box-shadow: 19px 15px 0 #ffb0a8; padding-top: 35px; box-sizing: border-box; margin: 0 50px;}
.p2{color: #231511; font-size: 22px; padding-top: 35px; font-weight: bold;}
.menu_center li:hover{box-shadow: none; transform: translate(19px, 15px); transition: all 0.5s;}
/* 매장찾기&택배서비스 */
.circle1, .circle2{position: absolute; width: 384px; height: 384px; border-radius: 200px; text-align: left;}
.circle1{background: url(../images/storebg1.png) no-repeat; padding-top: 55px; top: 670px; left: 200px;}
.circle1 img{display: block; padding-left: 136px;}
.blue{color: #3a566b; font-size: 22px; font-weight: bolder; padding: 30px 0 30px 90px;}
.p3{color: #4b687c; font-size: 18px; line-height: 22px; padding: 0 0 45px 90px;}
.point1{color: #f26b5e;}
.find, .look{display: inline-block; border-radius: 15px; font-size: 12px;}
.find{background-color: #edfaff; color: #58788c; padding: 3px 20px 2px 20px; transform: translateX(200px); box-sizing: border-box;}
.circle2{background: url(../images/storebg2.png) no-repeat; padding-top: 50px; top: 770px; left: 615px;}
.p4{font-family: 'CookieRun-Regular'; color: #d15e54; margin-left: 82px;}
.red{font-size: 22px; color: #b5403d; padding: 20px 0; margin-left: 82px;}
.p5{color: #d87066; font-size: 18px; line-height: 22px; padding-bottom: 20px; margin-left: 82px;}
.point2{color: #c0514e;}
.look{background-color: rgba(222, 129, 120, 0.25); color: #f26b5e; padding: 3px 15px 2px 15px; transform: translateX(240px);}
.find:hover{background-color: #d1eefa;}
.look:hover{background-color: rgba(222, 129, 120, 0.5);}

/* 이벤트 */
#event{background: url(../images/event_bg.png); width: 100%; height: 1000px; margin-top: 100px;}
.event_inner{width: 1140px; margin: auto; padding-top: 125px;}
.event_inner h1{font-family: 'CookieRunOTF-Bold'; font-size: 70px; color: #f26b5e; text-shadow: 4px 1px 0 #ffb0a8; float: left; padding-bottom: 45px; text-transform: uppercase; line-height: 70px;}
.button{display: inline-block; float: right; margin-top: 30px;}
.button:hover{transform: rotate(45deg); transition: all 0.5s;}

/* sns후기 */
#sns{width: 1140px; margin: 200px auto; height: 800px;}
#sns h1{font-family: 'CookieRunOTF-Bold'; font-size: 70px; color: #f26b5e; text-shadow: 4px 1px 0 #ffb0a8; text-transform: uppercase; line-height: 70px;}
#sns li{float: left; margin: 60px 60px 0 0; width: 340px; height: 340px; overflow: hidden;}
#sns li:nth-child(3n){margin-right: 0;}
#sns li:hover img{transform: scale(1.15, 1.15); transition: all 1s;}

/* 푸터 */
footer{background: url(../images/footer_bg.jpg); width: 100%; padding: 90px 0;}
#footer_inner{width: 1320px; margin: auto; position: relative;}
.footer_logo{display: inline-block; margin-bottom: 70px;}
.footer_logo:hover img{transform: scale(1.15, 1.15); transition: all 1s;}
.intro{font-size: 12px; line-height: 30px;}
#footer_right{width: 670px; position: absolute; right: 0; top: 0;}
.right{width: 670px; height: 182px; border-top: #5d423b 2px solid; border-bottom: #5d423b 2px solid;}
.right ul{float: left; margin: 30px 60px 30px 0;}
.right ul:last-child{float: right; margin: 20px;}
.main{font-size: 15px; font-family: 'CookieRun-Regular'; font-weight: bold; line-height: 15px; text-transform: uppercase; padding-bottom: 15px;}
.sub{font-size: 12px; line-height: 12px; padding-bottom: 10px;}
.right ul:last-child img{opacity: 0.7; display: block; margin-bottom: 5px;}
.right ul:last-child a:hover img{opacity: 1;}
.footermenu li{float: left; font-size: 12px; opacity: 0.6; padding-top: 20px;}
.footermenu li:nth-child(2n){margin: 0 55.5px;}
.footermenu li:hover{opacity: 1;}
.solid{width: 100%; 
  height: 1px; 
  background-color: #5d423b; 
  margin: auto; 
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition-property: opacity, transform; 
  transition-duration: 1s;}
.main a:hover .solid{opacity: 1; transform: scaleX(1);}
.sub a:hover .solid{opacity: 1; transform: scaleX(1);}