*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-family: "arial"; font-size: 14px; line-height: 24px; color: black;}
/* 헤더/배너 */
header{width: 100%; position: relative;}
.up{width: 1080px; margin: auto; height: 39px;}
.up ul, .down> ul{float: right;}
.up ul li{float: left; color: #ccc; padding: 5px 0 10px 5px;}
.up li a{color: #ccc;}
.up li a:hover{color: #999;}
.down{width: 1080px; margin: auto; padding: 20px 0; height: 32px;}
.logo{float: left;}
.down> ul> li{float: left; padding: 6px 0 6px 20px;}
.down> ul> li> a{font-size: 18px; font-weight: bold;}
.down> ul> li> a:hover{color: #999;}
.banner{width: 100%; display: block;}
/* 서브메뉴 */
.sub{background-color: white; position: absolute; width: 100%; left: 0; display: none;}
.sub div{width: 1080px; margin: auto; padding: 40px 0 20px; height: 130px;}
.sub ul{float: left; margin-right: 30px; transform: translateY(35px);}
.sub a{font-weight: bold; text-transform: uppercase; font-size: 18px;}
.sub img{margin-right: 30px;}
.down li:hover .sub{display: block;}
/* 콘텐츠 */
section{width: 1080px; margin: 30px auto; height: 2620px;}
.title{display: block; width: 347px; margin: auto; padding-bottom: 20px;}
.left{padding-bottom: 40px; float: left; height: 379px;}
.right{padding-bottom: 40px; float: right; height: 379px;}
.text{width: 433px;}
.text h2{padding-top: 80px; font-size: 18px;}
.text h1{padding: 20px 0; font-size: 20px;}
h3{text-align: center; font-size: 20px; padding-bottom: 50px;}
iframe{padding-bottom: 50px;}
span{font-size: 20px;}
.best{width: 100%; overflow: hidden;/* float요소의 높이,너비를 인식할 수 있음 */}
.best li{float: left; width: 23.5%; padding-bottom: 50px; margin-right: 2%; position: relative;}
.best li img{width: 100%;}
.best li:last-child{margin-right: 0;}
.cost{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); text-align: center; opacity: 0; transition: all 1s;}
.cost h2{padding: 40% 0 4%; font-size: 40px;}
.cost p{font-size: 20px;}
.best li:hover .cost{opacity: 1;}
#sns{width: 1080px; margin: auto; overflow: hidden; margin-bottom: 100px;}
.sns li{float: left; margin: 0 20px 20px 0; width: 200px; height: 200px; overflow: hidden;}
.sns li:nth-child(5n){margin: 0;}/* 5의 배수 */
.sns li img{display: block;}
.sns li:hover img{transform: scale(1.2, 1.2);}
.sns img{transition: all 1s;}
/* 푸터 */
footer{border-top: #aaa 2px solid; padding: 30px 0; text-align: center;}
footer a{display: inline-block; width: 86px; color: #aaa; border: #aaa 1px solid; text-align: center; padding: 10px 0; margin: 0 5px 30px;}
footer a:hover{background-color: #999; color: #fff;}
footer p{margin-bottom: 20px;}
select{background-color: black; color: white; padding: 10px; width: 148px;}
.fixed{display: inline-block; background-color: black; color: white; padding: 22px 20px; border-radius: 50%; position: fixed; right: 50px; bottom: 50px; font-weight: bold; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);}